@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/typography";

.button-styles {
  @include labels-buttons-desktop;
  width: 100%;
  background-color: $BrainFlix-Blue;
  height: 40px;
  border-radius: 4px;
  border: none;
  color: $White;
  background-repeat: no-repeat;
  background-position: 10px center;
  cursor: pointer;

  &:hover {
    background-color: $BrainFlix-DarkBlue;
    cursor: pointer;
  }
}

.upload {
  @extend .button-styles;
  background-image: url("../../assets/Icons/upload.svg");
}

.newcomment {
  @extend .button-styles;
  margin-top: $mobile-padding-standard;
  background-image: url("../../assets/Icons/add_comment.svg");
}
