@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/typography";

.button {
  @include labels-buttons-desktop;
  width: $full;
  background-color: $BrainFlix-Blue;
  height: $button-height;
  border-radius: $rounded-corner;
  border: none;
  color: $White;
  background-repeat: no-repeat;
  background-position: 10px center;
  cursor: pointer;

  &:hover {
    background-color: $BrainFlix-DarkBlue;
    cursor: pointer;
  }
}

.button__upload {
  @extend .button;
  background-image: url("../../assets/Icons/upload.svg");
}

.button__comment {
  @extend .button;
  margin-top: $mobile-padding-standard;
  background-image: url("../../assets/Icons/add_comment.svg");
}
