@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/typography";

.details {
  display: flex;
  flex-wrap: wrap;
  @include divider;
  padding: $mobile-padding-standard;

  &__header {
    @include divider;
    @include page-header-mobile;
    padding: $mobile-padding-standard;
  }

  &__left {
    width: $half;
  }

  &__right {
    width: $half;
  }

  &__channel {
    @include subheader-mobile;
    padding-bottom: $mobile-padding-standard;
  }
  &__views {
    font-size: 13px;
    color: $Silver;
    display: flex;
    align-items: center;
    padding-bottom: $mobile-padding-standard;
  }
  &__date {
    font-size: 13px;
    color: $Silver;
  }
  &__likes {
    font-size: 13px;
    color: $Silver;
    display: flex;
    align-items: center;
  }
  &__icon {
    margin-right: $mobile-padding-half;
  }
  &__description {
    @include body-copy-mobile;
    padding: $mobile-padding-standard;
  }
  &__comments {
    @include subheader-mobile;
    padding: 0 $mobile-padding-standard;
  }

  @include breakpoint-tablet {
    padding: $mobile-padding-standard $desktop-padding-standard;

    &__header {
      @include page-header-desktop;
      padding: $desktop-padding-standard;
      border-bottom: none;
      padding-bottom: $none;
    }

    &__right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    &__left {
      display: flex;
      align-items: center;
    }
    &__views {
      padding-bottom: $none;
      padding-right: $mobile-padding-standard;
    }
    &__channel {
      @include subheader-desktop;
      padding-bottom: $none;
      padding-right: $mobile-padding-standard;
    }
    &__description {
      padding: $mobile-padding-standard $desktop-padding-standard;
      @include body-copy-desktop;
    }
    &__comments {
      @include subheader-desktop;
      padding: $none $desktop-padding-standard;
    }
  }

  @include breakpoint-desktop {
    padding-left: $none;

    &__header {
      padding-left: $none;
    }

    &__description {
      padding-left: $none;
    }

    &__comments {
      padding-left: $none;
    }
  }
}
