@font-face {
  font-family: "AvenirNextLTPro";
  src: url("/src/assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"),
    url("/src/assets/Font/AlternativeFiles/AvenirNextLTPro.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextLTPro";
  src: url("/src/assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"),
    url("/src/assets/Font/AlternativeFiles/AvenirNextLTProBold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextLTPro";
  src: url("/src/assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"),
    url("/src/assets/Font/AlternativeFiles/AvenirNextLTProDemi.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}
