$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095ff;
$Silver: #afafaf;
$White: #ffffff;
$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065ad;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;

$desktop-screen: 1280px;
$tablet-screen: 768px;

$mobile-padding-half: 0.5rem;
$mobile-padding-standard: 1rem;
$mobile-padding-large: 1.5rem;
$desktop-padding-standard: 1.5rem;
$desktop-padding-large: 2.25rem;

$full: 100%;
$half: 50%;
$none: 0;

$button-height: 2.5rem;

$rounded-corner: 4px;

$image-mobile: 2.25rem;
$image-desktop: 2.5rem;

// I know the style guide shows a max width on desktop content of
// 1020px but to match the mockup better I made the decision to change
// this to 1200px
$max-width-desktop: 75rem;
