$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095ff;
$Silver: #afafaf;
$White: #ffffff;
$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065ad;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;

$desktop-screen: 1280px;
$tablet-screen: 768px;

$mobile-padding-half: 8px;
$mobile-padding-standard: 16px;
$mobile-padding-large: 24px;
$desktop-padding-standard: 24px;
$desktop-padding-large: 36px;

$full: 100%;
$half: 50%;
$none: 0;

$button-height: 40px;

$rounded-corner: 4px;

$image-mobile: 36px;
$image-desktop: 40px;

// I know the style guide shows a max width on desktop content of
// 1020px but to match the mockup better I made the decision to change
// this to 1200px
$max-width-desktop: 1200px;
