@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/typography";

.brainflix-logo {
  height: 25px;
  width: 100%;

  @include breakpoint-tablet {
    width: 20%;
  }
}
