@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/typography";

.comment {
  display: flex;
  justify-content: space-between;
  padding: 8px $mobile-padding-standard;
  @include divider;
  @include body-copy-mobile;

  &__wrapper-left {
    display: flex;
    justify-content: center;
  }

  &__wrapper-right {
    padding-left: $mobile-padding-half;
    width: calc(100% - 50px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__content {
    padding-bottom: $mobile-padding-half;
    width: $full;
  }
  &__name {
    font-weight: 600;
    padding-bottom: 5px;
    width: $half;
  }

  &__date {
    color: $Silver;
  }

  &__image {
    width: $image-mobile;
    height: $image-mobile;
    border-radius: $half;
    background-color: $Mercury;
    background-position: center;
    background-size: cover;
  }

  @include breakpoint-tablet {
    padding: $desktop-padding-standard;
    @include body-copy-desktop;

    &__image {
      width: $image-desktop;
      height: $image-desktop;
    }
  }

  @include breakpoint-desktop {
    padding-left: 0;
  }
}
