@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/typography";

.video-list {
  width: $full;
  padding: $mobile-padding-standard;

  &__label {
    @include section-header-mobile;
    font-weight: 600;
    color: $Silver;
    padding-bottom: $mobile-padding-standard;
  }
}
