@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/typography";

.comment-form {
  width: $full;
  display: flex;
  flex-wrap: wrap;

  &__wrapper {
    padding: $mobile-padding-standard;
    @include divider;
  }

  &__label {
    @include section-header-mobile;
    font-weight: 600;
    color: $Silver;
  }

  &__comment {
    font-family: "AvenirNextLTPro";
    min-height: 6.25rem;
    width: $full;
    border-radius: $rounded-corner;
    padding: 0.75rem;
    border: 1px solid $Mercury;
    background-color: $Alabaster;
    resize: none;

    &::placeholder {
      color: black;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
  }

  &__left {
    display: flex;
    width: 20%;
    justify-content: center;
  }

  &__image {
    margin-top: $mobile-padding-large;
    width: $image-mobile;
    height: $image-mobile;
    border-radius: $half;
    background-color: $Mercury;
    background-image: url("../../assets/Images/Mohan-muruge.jpg");
    background-position: center;
    background-size: cover;
  }
}
