@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/typography";

.comment-form {
  width: $full;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__wrapper {
    padding: $mobile-padding-standard;
    @include divider;
  }

  &__label {
    @include section-header-mobile;
    font-weight: 600;
    color: $Silver;
  }

  &__comment {
    font-family: "AvenirNextLTPro";
    min-height: 6.25rem;
    width: $full;
    border-radius: $rounded-corner;
    padding: 0.75rem;
    border: 1px solid $Mercury;
    background-color: $Alabaster;
    resize: none;

    &::placeholder {
      color: black;
    }
  }

  &__right {
    padding-left: $mobile-padding-half;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 50px);
  }

  &__left {
    display: flex;
    justify-content: center;
  }

  &__image {
    margin-top: $mobile-padding-large;
    width: $image-mobile;
    height: $image-mobile;
    border-radius: $half;
    background-color: $Mercury;
    background-image: url("../../assets/Images/Mohan-muruge.jpg");
    background-position: center;
    background-size: cover;
  }

  @include breakpoint-tablet {
    padding: $desktop-padding-standard;

    &__right {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    &__label {
      width: $full;
    }
    &__comment {
      width: calc(98% - 150px);
      min-height: $none;
      height: 45px;
    }
    &__wrapper {
      padding: $none;
    }

    &__image {
      width: $image-desktop;
      height: $image-desktop;
    }
  }

  @include breakpoint-desktop {
    padding-left: $none;
  }
}
