@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/typography";

.header {
  display: flex;
  flex-direction: column;
  margin: 16px;

  &__middle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px 0;
  }

  @include breakpoint-tablet {
    flex-direction: row;
  }
}
