@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/typography";

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: $mobile-padding-standard;

  &__content {
    display: flex;
    width: $full;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @include breakpoint-tablet {
    justify-content: space-between;
    align-items: center;

    &__content {
      width: 70%;
      display: flex;
      justify-content: space-between;
    }
  }

  @include breakpoint-desktop {
    max-width: $max-width-desktop;
    justify-content: space-between;
    margin: $desktop-padding-standard auto;
  }
}

.link {
  width: 100%;

  @include breakpoint-tablet {
    margin-top: $none;
    width: 150px;
  }
}
