@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/typography";

.upload {
  border-top: 0.0625rem solid $Mercury;
  padding: $mobile-padding-standard;

  &__header {
    @include page-header-mobile;
    padding-bottom: $mobile-padding-standard;
  }

  &__label {
    @include section-header-mobile;
    font-weight: 600;
    color: $Silver;
  }
  &__thumbnail {
    width: 100%;
    margin-bottom: $mobile-padding-standard;
  }
  &__link {
    text-decoration: none;
  }
  &__cancel {
    @include labels-buttons-desktop;
    color: $BrainFlix-Blue;
    text-align: center;
    padding-top: $desktop-padding-large;
  }

  @include breakpoint-tablet {
    padding: $desktop-padding-standard;
    &__header {
      @include page-header-desktop;
      @include divider;
      padding-bottom: $desktop-padding-standard;
      margin-bottom: $mobile-padding-standard;
    }
    &__thumbnail {
      width: 50%;
    }
    &__cancel {
      padding-top: 0;
    }
  }
  @include breakpoint-desktop {
    padding-left: 0;
    padding-right: 0;
    max-width: $max-width-desktop;
    margin: auto;
    &__thumbnail {
      width: 100%;
    }
  }
}

.upload-form {
  width: $full;

  &__label {
    display: block;
    @include section-header-mobile;
    font-weight: 600;
    color: $Silver;
  }

  &__title {
    margin-bottom: $mobile-padding-standard;
    font-family: "AvenirNextLTPro";
    padding: 12px;
    width: $full;
    border-radius: $rounded-corner;
    border: 1px solid $Mercury;
    background-color: $Alabaster;

    &::placeholder {
      color: black;
    }
    &:focus {
      outline: 2px solid $BrainFlix-Blue;
    }
  }

  &__description {
    font-family: "AvenirNextLTPro";
    min-height: 6.25rem;
    width: $full;
    border-radius: $rounded-corner;
    padding: 0.75rem;
    border: 1px solid $Mercury;
    background-color: $Alabaster;
    resize: none;

    &::placeholder {
      color: black;
    }
    &:focus {
      outline: 2px solid $BrainFlix-Blue;
    }
  }

  @include breakpoint-tablet {
    &__description {
      margin-bottom: $mobile-padding-standard;
    }
  }
}

.error {
  outline: 2px solid red;
}

.toast {
  background-color: red;
}

@include breakpoint-tablet {
  .bottom-wrapper {
    border-top: 1px solid $Mercury;
    padding-top: $mobile-padding-standard;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__end {
      order: 2;
    }

    &__start {
      width: 20%;
    }
  }
}

@include breakpoint-desktop {
  .top-wrapper {
    display: flex;
    justify-content: space-between;

    &__left {
      width: 35%;
    }
    &__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%;
    }
  }
}
