@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/typography";

.player {
  max-width: 100%;
}

.details {
  display: flex;
  flex-wrap: wrap;
  @include divider;
  padding: $mobile-padding-standard;

  &__header {
    @include divider;
    @include page-header-mobile;
    padding: $mobile-padding-standard;
  }

  &__channel {
    @include subheader-mobile;
    width: 50%;
    padding-bottom: 16px;
  }
  &__views {
    font-size: 13px;
    color: $Silver;
    display: flex;
    align-items: center;
    width: 50%;
    padding-bottom: 16px;
  }
  &__date {
    font-size: 13px;
    color: $Silver;
    width: 50%;
  }
  &__likes {
    font-size: 13px;
    color: $Silver;
    width: 50%;
    display: flex;
    align-items: center;
  }
  &__icon {
    margin-right: 8px;
  }
  &__description {
    @include body-copy-mobile;
    padding: 16px;
  }
  &__comments {
    @include subheader-mobile;
    padding: 0 16px;
  }
}
