@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/typography";

.player {
  width: $full;
  background-color: $BrainFlix-DarkBlack;
  aspect-ratio: 16 / 9;

  @include breakpoint-tablet {
    height: 50vw;
  }

  @include breakpoint-desktop {
    height: 35vw;
  }
}
