@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/typography";

.video {
  width: 100%;
  display: flex;
}

.video__image {
  width: 100%;
  border-radius: 4px;
}

.video__left {
  padding: 8px;
  width: 50%;
}

.video__right {
  padding: 8px;
  width: 50%;
}
