@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/typography";

.video {
  width: $full;
  display: flex;
  padding-bottom: $mobile-padding-standard;

  &__image {
    background-color: $Mercury;
    width: $full;
    border-radius: $rounded-corner;
  }

  &__left {
    width: 40%;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 0 4px $mobile-padding-standard;
    width: 60%;
  }

  &__title {
    @include subheader-mobile;
  }

  @include breakpoint-tablet {
    &__left {
      width: 20%;
    }

    &__title {
      @include subheader-desktop;
    }
  }

  @include breakpoint-desktop {
    &__left {
      width: 30%;
    }
  }
}
