@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/typography";

.search__form {
  width: 100%;
}

.search__bar {
  font-family: "AvenirNextLTPro";
  background-color: $Alabaster;
  height: 36px;
  width: 100%;
  border: 1px solid $Mercury;
  border-radius: 4px;

  &:active {
    border: 3px solid $BrainFlix-Blue;
  }
}
