@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/typography";

.search {
  &__form {
    width: $full;
  }

  &__bar {
    font-family: "AvenirNextLTPro";
    background-color: $Alabaster;
    height: 36px;
    width: $full;
    border: 1px solid $Mercury;
    border-radius: $rounded-corner;
    background-image: url("../../assets/Icons/search.svg");
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 30px;

    &:active {
      border: 3px solid $BrainFlix-Blue;
    }
  }
}
