@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/typography";

.login {
  width: 20%;
  display: flex;
  justify-content: center;

  &__profile {
    width: $image-mobile;
    height: $image-mobile;
    border-radius: $half;
    background-color: $Mercury;
    background-image: url("/src/assets/Images/Mohan-muruge.jpg");
    background-position: center;
    background-size: cover;
  }
}
